<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bootstrap 3, from LayoutIt!</title>

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <!-- Pusher -->
    <script src="https://js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        var pusher = new Pusher('<%= pusher_key %>');
        var channel = pusher.subscribe('<%= uid %>');
        channel.bind('led', function (data) {
            $('#led').attr('src', "/images/led" + data.value + ".png");
        });
    </script>
    <!-- Pusher -->

</head>

<body>
<div id="light">sdadssa</div>
<hr/>
<div id="battery"/>     dsasd</div>

</body>
<script>
    var lat, lon;
</script>
<script src="/js/modernizr-2.6.2.min.js"></script>
<script src="/js/battery.js"></script>
<script src="/js/lightsensor.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/geolocation.js"></script>
<script src="/js/datasender.js"></script>
<script>



    $(function () {
        setInterval(send_data('<%= uid %>', 1 * 100, lat, lon), 3000);
        //setInterval(send_data('<%= uid %>', navigator.battery.level * 100, lat, lon), 3000);
    });


</script>
</html>