<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bootstrap 3, from LayoutIt!</title>

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <!-- Pusher -->
    <script src="https://js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        var pusher = new Pusher('<%= pusher_key %>');
        var channel = pusher.subscribe('<%= uid %>');
        channel.bind('led', function (data) {
            $('#led').attr('src', "/images/led" + data.value + ".png");
        });
    </script>
    <!-- Pusher -->

</head>

<body>
<div id="battery"/>
</body>
<script src="/js/modernizr-2.6.2.min.js"></script>
<script src="/js/battery.js"></script>
<script src="/js/lightsensor.js"></script>
<script src="/js/jquery.min.js"></script>
<script>



    function success(pos) {
        var crd = pos.coords;
        lat = crd.latitude;
        lon = crd.longitude;
        console.log('Your current position is:');
        console.log('Latitude : ' + crd.latitude);
        console.log('Longitude: ' + crd.longitude);
        console.log('More or less ' + crd.accuracy + ' meters.');
    };

    function error(err) {
        console.warn('ERROR(' + err.code + '): ' + err.message);
    };

    $(function() {
        var options = {
            enableHighAccuracy: true,
            timeout: 5000,
            maximumAge: 0
        };
        navigator.geolocation.getCurrentPosition(success, error, options);
    });


</script>
</html>